.container {
    margin: auto;
    width: 60vw;
    font-family: sans-serif;
  }
  .heading {
    color: crimson;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    border: 2px solid crimson;
    border-radius: 10px;
  }
  .nav-link-item {
    margin: auto;
  }
  :link {
    text-decoration: none;
  }
  .nav-link-text {
    color: crimson;
  }

  .site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
  }